<div style="display:none">
    {{#rankings}}
    <div id="{{rank}}_details" class="infotooltip" style="display:none">
        <table border="0" cellspacing="0" cellpadding="3" style="width: 100%;">
            <tr>
                <td class="rankingdetailsheader" style="width: 135px; text-align: left; vertical-align: top">&nbsp;</td>
                <td class="rankingdetailsheader" style="text-align: right; width: 100px">PLAYED</td>
                <td class="rankingdetailsheader" style="text-align: right; width: 45px">WON</td>
                <td class="rankingdetailsheader" style="text-align: right; width: 45px">2ND</td>
                <td class="rankingdetailsheader" style="text-align: right; width: 45px">3RD</td>
                <td class="rankingdetailsheader" style="text-align: right; width: 90px">WIN RATIO</td>
            </tr>
            <tr>
                <td class="rankingdetailsdatarow" style="text-align:right">Main rounds</td>
                <td class="rankingdetailsdatarow" style="text-align:right">{{mainRoundsPlayed}}</td>
                <td class="rankingdetailsdatarow" style="text-align:right">{{mainRoundWins}}</td>
                <td class="rankingdetailsdatarow" style="text-align:right">{{mainRoundSeconds}}</td>
                <td class="rankingdetailsdatarow" style="text-align:right">{{mainRoundThirds}}</td>
                <td class="rankingdetailsdatarow" style="text-align:right">{{mainRoundWinRatio}}</td>
            </tr>
            <tr>
                <td class="rankingdetailsdatarow" style="text-align:right">Funrounds</td>
                <td class="rankingdetailsdatarow" style="text-align:right">{{funroundsPlayed}}</td>
                <td class="rankingdetailsdatarow" style="text-align:right">{{funroundWins}}</td>
                <td class="rankingdetailsdatarow" style="text-align:right">{{funroundSeconds}}</td>
                <td class="rankingdetailsdatarow" style="text-align:right">{{funroundThirds}}</td>
                <td class="rankingdetailsdatarow" style="text-align:right">{{funroundWinRatio}}</td>
            </tr>
        </table>
    </div>
    {{/rankings}}
</div>
