body {	
	margin: 0px;
	padding: 0px;
	color: rgb(215, 215, 215); 
	font-family: Aldrich, Arial, Helvetica, sans-serif;
}

div#content {
	min-height: 1200px;
}

.scoretable {
	opacity: 0.8;
}

.pagetitle {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 24px;
    font-weight: bold;
	height: 60px;
	text-shadow: 0 0 3px #fcf, 0 0 6px #dad;
}

.title {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: medium;	
    font-weight: bold;
	height: 40px;
}

.menu {
	color: rgb(190, 198, 190);
	text-align: center;
	font-size: medium;	
    font-weight: bold;
	height: 40px;
}

.underline{
    text-decoration: underline;
}

.subtitle {
	color: rgb(200, 200, 200);
	text-align: center;
	font-size: small;	
	font-weight: bold;
    height: 20px;
}

.subtitle2 {
	font-size: x-small;
	font-weight: normal;
}

td.header {
	background-image: linear-gradient(rgb(82, 73, 82), rgb(60, 55, 60));
	font-size: smaller;
	text-align: center;
	white-space: nowrap;
	border: solid 2px;
	border-color: rgb(80, 80, 80) rgb(90, 100, 100) rgb(90, 100, 100) rgb(80, 80, 80);
	border-radius: 4px;
	text-shadow: 3px 3px 2px rgb(10, 10, 10);
}

td.wrappedheader {
	background-image: linear-gradient(rgb(82, 73, 82), rgb(60, 55, 60));
	font-size: smaller;
	text-align: center;
	white-space: normal;
	width: 1px;
	border: solid 2px;
	border-color: rgb(80, 80, 80) rgb(90, 100, 100) rgb(90, 100, 100) rgb(80, 80, 80);
	border-radius: 4px;
	text-shadow: 3px 3px 2px rgb(10, 10, 10);
}

td.subheader {
	background-color: rgb(82, 73, 82);
	font-size: small;
	text-align: center;
	white-space: nowrap;
	border: solid 2px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-color: rgb(80, 80, 80) rgb(90, 100, 100) rgb(90, 100, 100) rgb(80, 80, 80);
	border-radius: 4px;
	text-shadow: 3px 3px 2px rgb(25, 25, 25);
}

td.datarow {
	background-image: linear-gradient(rgb(50, 45, 50), rgb(60, 53, 60));
	border: solid 2px;
	border-color: rgb(80, 80, 80) rgb(90, 100, 100) rgb(90, 100, 100) rgb(80, 80, 80);
	border-radius: 4px;
}

a:link, a:visited, a:active { 
	text-decoration: none;
    color: inherit;
}

a:hover {
	text-decoration: underline;
    color: rgb(255, 255, 255);
}

tr.navigation {
	height: 40px;
}

td.navigation {
	text-align: center; 
	font-size: large;
}

span.active {
	color: rgb(255, 255, 255);
}

span.navdisabled {
	color: rgb(130, 130, 130);
}

.weaponaccuracy {
	position: absolute;
	border: none;
	border: solid 2px;
	border-color: rgb(90, 110, 100) rgb(100, 120, 100)  rgb(100, 120, 100) rgb(90, 110, 100);
	border-radius: 3px;	 
}

td.weaponskillheader {
	color: rgb(150, 180, 160);
	opacity: 0.95;
	background-color: rgb(80, 80, 80);
	font-size: x-small;
	white-space: nowrap;
	border: none;
}

td.weaponskilldatarow {
	color: rgb(22, 45, 29);
	opacity: 0.95;
	background-color: rgb(150, 150, 150);
	font-size: small;
	border: none;
}
