body {	
	margin: 0px;
	padding: 0px;
	color: rgb(215, 215, 215); 
	font-family: Aldrich, Arial, Helvetica, sans-serif;
}

div#content {
	min-height: 1200px;
}

.scoretable {
	opacity: 0.8;
}

.pagetitle {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 24px;
    font-weight: bold;
	height: 60px;
	margin-top: 5px;
	text-shadow: 0 0 3px #fcf, 0 0 6px #dad;
	white-space: nowrap;
}

.tourneytitle {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 24px;
    font-weight: bold;
	height: 60px;
	margin-top: 5px;
	white-space: nowrap;
}

.title {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: medium;	
    font-weight: bold;
	height: 40px;
}

td.mainpagetourney {
	vertical-align: top;
	background-color: rgba(30, 30, 30, 0.9);
	padding-top: 10px;
	border-radius: 15px;
	border: solid 2px rgb(120, 120, 140);
}

.tourneytable {
	background-color: rgba(30, 30, 30, 0.9);
	padding: 15px 30px;
	border-radius: 15px;
	border: solid 2px rgb(120, 120, 140);
}

div.details {
	background-color: rgba(70, 70, 70, 0.9);
	border-radius: 10px;
	border: solid 2px rgb(120, 120, 140);
	padding: 15px;
	font-size: smaller;
}

.mapTitle {
	text-align: right;
	position: relative;
	top: 30px;
	right: -450px;
	font-size: medium;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: 0 0 15px rgb(0, 0, 0), 0 0;
}

.menu {
	color: rgb(190, 198, 190);
	text-align: center;
	font-size: medium;	
    font-weight: bold;
	height: 40px;
	display: flex;
	justify-content: center;
}

.underline{
    text-decoration: underline;
}

.subtitle {
	color: rgb(200, 200, 200);
	text-align: center;
	font-size: small;	
	font-weight: bold;
    height: 20px;
}

.subtitle2 {
	font-size: x-small;
	font-weight: normal;
}

td.header {
	font-size: smaller;
	text-align: center;
	white-space: nowrap;
}

td.subheader {
	font-size: small;
	text-align: right;
	white-space: nowrap;
	line-height: 13px;
	padding-left: 0px;
	padding-right: 4px;
}

td.selected {
	color: rgb(255, 255, 255);
}

td.datarow {
	vertical-align: top;
	border-top: solid 2px rgba(255, 255, 255, 0.3);
	color: white;
}

a:link, a:visited, a:active { 
	text-decoration: none;
    color: inherit;
}

a:hover {
	text-decoration: underline;
    color: rgb(255, 255, 255);
}

tr.navigation {
	height: 60px;
}

td.navigation {
	text-align: center; 
	vertical-align: top;
	font-size: large;
}

span.active {
	color: rgb(255, 255, 255);
}

span.navdisabled {
	color: rgb(130, 130, 130);
}

.infotooltip {
	position: absolute;
	background-color: rgb(65, 65, 65);
	border: solid 2px rgb(170, 170, 170);
	border-radius: 6px;
}

td.infotooltipheader {
	color: rgb(150, 180, 160);
	font-size: x-small;
	white-space: nowrap;
	border: none;
}

td.infotooltipdatarow {
	color: rgb(22, 45, 29);
	background-color: rgb(170, 170, 170);
	font-size: small;
	border: none;
}

/* Rankings */
td.playerid {
	border-top: solid 1px transparent;
	vertical-align: top;
	font-size: smaller;
	font-family: Verdana;
}

td.datarowdetails {
	padding: 0px;
	opacity: 0.95;
	font-size: small;
}

td.rankingscore {
	font-size: smaller;
}

td.rankingdetailsheader {
	border: none;
}

td.rankingdetailsdatarow {
	border: none;
}

select.periodfilter {
	background-color: rgb(190, 185, 210);
	border: none;
	border-radius: 4px;
	margin-left: 10px;
}
